/thundertac/.changelog_builder
/thundertac/.pyupdater/
/thundertac/__pycache__/
/thundertac/ACMI/
/thundertac/CHANGELOG.md
/thundertac/changelog.py
/thundertac/client_config.py
/thundertac/deploy.cmd
/thundertac/deploy.py
/thundertac/keypack.pyu
/thundertac/logs/
/thundertac/pyu-data/
/thundertac/pyu-data/deploy/
/thundertac/pyu-data/files/
/thundertac/pyu-data/new/
/thundertac/pyu_cfg/
/thundertac/run.cmd
/thundertac/win.spec
/venv/