/venv/
thundertac/__pycache__/
thundertac/logs/
thundertac/.pyupdater/
thundertac/pyu-data/
thundertac/pyu_cfg/
thundertac/keypack.pyu
thundertac/client_config.py
thundertac/win.spec
thundertac/ACMI/
thundertac/deploy.py
thundertac/changelog.py
thundertac/run.cmd
thundertac/deploy.cmd
thundertac/CHANGELOG.md
thundertac/.changelog_builder

